.zigate-panel { position: relative; padding: 5px; }
.zigate-panel table { width: 100%; }
.zigate-panel th { text-align: center; background-color: #ccc; }
.zigate-panel td { padding: 5px; border: 1px solid #ccc; vertical-align: top; }
.zigate-panel label { font-weight: normal }
.zigate-panel button { display: inline-block; }
.zigate-panel button.highlighted { background: #006d46; color: #fff; }

.zigate-hidden { display: none; }
.zigate-error { color:red; }
.zigate-explanation { margin: 5px; padding: 5px; border: 1px solid; background: #FFFF88}
.zigate-toolbar { height: 25px; text-align: right; margin: 5px; }
.zigate-toolbar button { cursor: pointer; }

.zigate-association-room { font-weight: bold; width: 100%; background: #ccc; }
div.zigate-association { padding-left: 20px; }
div.zigate-association label span { padding: 4px 0 0 2px; }
span.zigate-association { margin-right: 5px; }
span.zigate-association span { padding: 1px; }
.zigate-association-device .ziblue-short-press { color: white; background: orange; border: 1px solid orange; }
.zigate-association-device .ziblue-long-press  { color: white; background: red; border: 1px solid red; }
.zigate-association-scene .ziblue-short-press  { color: white; background: blue; border: 1px solid blue; }
.zigate-association-scene .ziblue-long-press   { color: white; background: green; border: 1px solid green; }
.zigate-association-zibluedevice .ziblue-short-press  { color: white; background: purple; border: 1px solid purple; }

.zigate-equipment-endpoint {
	clear: right;
	float: right;
}
.zigate-equipment-modeling {
}
.zigate-modeling-select {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	margin-top: 10px;
}
.zigate-modeling-select input {
	transform: scale(1.5);
	cursor: pointer;
}
.zigate-equipment-mappings {
	display: inline-block;
	padding: 1px;
	background: #00a652;
}
#zigate-known-equipments .zigate-equipment-mappings { width: 100%; }
#zigate-discovered-equipments .zigate-equipment-mappings { width: 90%; }
.zigate-equipment-mapping {
	margin: 2px;
	padding: 3px;
	background: #fff;
	clear: both;
	overflow:auto;
}

.zigate-device-type { float: left; }
.zigate-device-actions {
	padding: 10px;
	float: right;
	cursor: pointer;
}
.zigate-device-settings { font-style: italic; }


table.zigate-feature-group tr { border: 1px solid #ccc; }
table.zigate-feature-group td { padding: 5px; }
.zigate-short-press {}
.ziblue-long-press { border: red; }

.zigate-protocol-name { font-weight: bold; }
.zigate-protocol-id { font-weight: bold; }
.zigate-device-name { font-weight: bold; }

.zigate-features { color: #fff;	background: #00a652; padding: 2px; }
.zigate-feature-name { font-weight: bold; font-style: italic; }
.zigate-feature-data { font-style: italic; margin-left: 5px; }

#zigate-device-actions { position: absolute; background: #FFF; border: 2px solid #AAA; white-space: nowrap; }
#zigate-device-actions td { padding: 5px; }
#zigate-device-actions button { margin: 2px; }
#zigate-equipments-actions {
	position: absolute;
	background: #FFF; border: 2px solid #AAA; white-space: nowrap;
}
#zigate-equipments-actions td { padding: 5px; }
#zigate-equipments-actions button { margin: 2px; }

#zigate-equipments-association {
	position: absolute; top: 0px; left: 0px;
	width: 100%;
	background: #FFF; border: 2px solid #AAA;
}
#zigate-equipments-params {
	position: absolute; top: 0px; left: 0px;
	width: 100%;
	background: #FFF; border: 2px solid #AAA;
}

#zigate-donate { text-align: center; width: 70%; margin: auto; }
#zigate-donate form { height: 50px; }

.zigate-feature-group td { border: 0 }
.zigate-setting { margin-top: 10px; border-radius: 25px; padding: 1px 25px; text-align: left; }
.zigate-setting span { display: inline-block; width: 30%; }
.zigate-setting-comment { margin-left: 5px; }
h3 div.ui-widget-content {
	color: #fff !important; background-color: #00a652 !important;
}
